<div class="large-6 small-12 large-centered columns text-center">
<h4>Confirmed Players</h4>

<% unless @confirmed_users.nil? %>
  <% @confirmed_users.each do |user| %>
    <%= user.first_name %> <%= user.last_name %><br/>
  <% end %>
<% end %>

<h4>Pending Players</h4>

<% unless @pending_users.nil? %>
  <% @pending_users.each do |user| %>
    <%= user.first_name %> <%= user.last_name %><br/>
  <% end %>
<% end %>

<h4>Invite New Player</h4>

<%= form_for @invitee, url: invite_users_path do |f| %>
  <div class= "field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>

  <div class= "field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div class= "field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class= "actions">
    <%= f.submit "Invite User" %>
  </div>
<% end %>
</div>
