<%= hidden_field( :latitude, :field, :value => @game.latitude ) %>
<%= hidden_field( :longitude, :field, :value => @game.longitude ) %>

<h1>Huddl</h1>

<h4>Welcome, <%= @name %></h4>

<p><i><%= @quote %></i></p>

<% unless @game.nil? %>
  <p>Next Game:</p>
  <%= @game.game_day.strftime('%b %eth, %Y') %> <%= @game.game_time.strftime('%l:%M %p') %>
  vs. <%= @game.opponent %>
<% end %>

<% unless @roster.empty? %>
  <ul>
  <% @roster.each do |roster| %>
    <li><%= roster.user.first_name %> <%= roster.user.last_name %></li>
  <% end %>
  </ul>
<% end %>

<div id="map-canvas"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABOogVR1b5VlEmR_2zoYoJH4siK2zS_0c&callback=initMap" async defer></script>
