<%= form_for(@game) do |f| %>
  <div class= "field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class= "field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class= "field">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(@states, @game.state) %>
  </div>

  <div class= "field">
    <%= f.label :zip, "Zip Code" %>
    <%= f.text_field :zip %>
  </div>

  <div class= "field">
    <%= f.label :game_day, "Date" %>
    <%= f.date_field :game_day, selected: Date.today, min: Date.today, max: 6.months.from_now %>
  </div>

  <div class= "field">
    <%= f.label :game_time, "Time" %>
    <%= f.time_field :game_time %>
  </div>

  <div class= "field">
    <%= f.label :opponent, "Opponent (optional)" %>
    <%= f.text_field :opponent %>
  </div>

  <div class="text-center">
    <div class= "actions">
      <%= f.submit "Save Game" %>
    </div>

    <%= link_to "Cancel", games_path %>
  </div>
<% end %>
