<h1><%= @team.name %> Schedule</h1>

<ul>
  <% @games.each do |game| %>
  <li><a href ="/games/<%= game.id %>"><%= game.street %></a>:
    <%= game.game_day.strftime('%b %eth, %Y') %>
    <%= game.game_time.strftime('%l:%M %p') %>
    <% if !game.opponent.empty? %>
      <%= "vs. #{game.opponent}" %>
    <% end %>
    <% if @access %>
      <%= link_to "Edit", edit_game_path(game) %> <%= link_to "Delete", game_path(game), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </li>
  <% end %>
</ul>
