<%= hidden_field( :latitude, :field, :value => @game.latitude ) %>
<%= hidden_field( :longitude, :field, :value => @game.longitude ) %>

<h1>Game Name?</h1>

<h3>Game Info</h3>
<ul>
  <li><%= @game.game_day.strftime('%b %eth, %Y') %> <%= @game.game_time.in_time_zone('EST').strftime('%l:%M %p') %></li>
  <li><%= @game.street %> <%= @game.city %>, <%= @game.state %> <%= @game.zip %></li>
</ul>

<div id="map-canvas">
</div>

<h3>Roster</h3>
<% unless @roster.empty? %>
  <ul>
  <% @roster.each do |roster| %>
    <li><%= roster.user.first_name %> <%= roster.user.last_name %></li>
  <% end %>
  </ul>
<% end %>

<%= button_to "#{@button_text}", claim_game_confirmations_path(@game), method: :post %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABOogVR1b5VlEmR_2zoYoJH4siK2zS_0c&callback=initMap" async defer></script>
